
@{
    ViewBag.Title = "xacnhanAbout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Cảm ơn bạn yêu cầu của bạn đã gửi về chúng tôi chúng tôi sẽ liên lạc với bạn thời gian sớm nhất </h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Shopgiay")
</p>

