<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <title>shop giay</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    


</head>
<body>
    <div>
        @RenderBody()
    </div>
   
        <div id="container">
            <div id="banner">
                <div id="logo">
                    <img src="~/images/logo.jpg" />
                </div>
                <div id="menutop">
                    <a href="#">Trang chủ</a>
                    <a href="#">Giới thiệu</a>
                    <a href="#">Sản phẩm</a>
                    <a href="#">Bảo hành</a>
                    <a href="#">Tư vấn</a>
                    <a href="#">Khuyến mãi</a>
                    <a href="#">Liên hệ</a>
                </div>
            </div>
            <div id="content">
                <div id="left">

                </div>
                <div id="right">

                </div>
                <div class="clear"></div>
            </div>
            <div id="footer"></div>
        </div>
        <div id="left">
            <div class="module">
                <h3>Danh mục sản phẩm</h3>
                <a href="#">aaaaaaa</a>   <a href="#">aaaaaaa</a>
                <a href="#">aaaaaaa</a>    <a href="#">aaaaaaa</a>
                <a href="#">aaaaaaa</a>     <a href="#">aaaaaaa</a>

            </div>
            <div class="module">
                <h3>Thống kê truy cập</h3>
                <div class="StatisticImg">
                    <img src="~/images/0.png" />  <img src="~/images/0.png" />
                    <img src="~/images/0.png" />  <img src="~/images/0.png" />
                </div>
                <div class="StatisticContent">
                    <div class="leftAlign"><img src="~/images/vlweek.png" />Hôm nay </div>
                    <div class="rightAlign">3</div>
                    <div class="leftAlign"><img src="~/images/vlweek.png" />Hôm nay </div>
                    <div class="rightAlign">3</div>
                    <div class="leftAlign">
                        <img src="~/images/vlweek.png" />Tuần này
                    </div>
                    <div class="rightAlign">233</div>
                    <div class="leftAlign"><img src="~/images/vlweek.png" />Tuần trước </div>


                </div>
                <div class="clear"></div>
            </div>
            <div class="module">
                <h3>Quảng cáo</h3>
                <div class="ads">
                    <img src="~/images/hieu-qua.gif" /> <img src="~/images/google-noi-ve-inova.gif" />
                </div>
            </div>

            <div id="right">
                <div id="slideshow">
                    <img src="~/images/slide7_713_384.jpg" />

                </div>
                <div id="products">
                    <h3 class="header">Sản phẩm tiêu biểu</h3>
                    <div class="item">
                        <h3 class="productName">Noi that giuong ngu 006</h3>
                        <img class="productImg" src="~/images/show_image_in_imgtag.jpeg" width="150">
                        <p class="productPrice">7,000,000 VND</p>
                        <a class="productDetail" href="#"> Chi tiet </a>
                        <a class="procuctBigImg" href="#"> Anh lon</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">Noi that giuong ngu 006</h3>
                        <img class="productImg" src="~/images/show_image_in_imgtag.jpeg" width="150">
                        <p class="productPrice">7,000,000 VND</p>
                        <a class="productDetail" href="#"> Chi tiet </a>
                        <a class="procuctBigImg" href="#"> Anh lon</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">Noi that giuong ngu 006</h3>
                        <img class="productImg" src="~/images/show_image_in_imgtag.jpeg" width="150">
                        <p class="productPrice">7,000,000 VND</p>
                        <a class="productDetail" href="#"> Chi tiet </a>
                        <a class="procuctBigImg" href="#"> Anh lon</a>
                    </div>
                </div>


                <div class="clear"></div>
            </div>
            <div id="footer">
                <p>Bản quyền thuộc về : <b> Công ty cổ phần nội thất bảo ngọc </b></p>
                <p> Mẫu website được thiết kế bởi <b> <a href="http:/ww.thayphet.net"> Webdesigner</a></b></p>
            </div>
        </div>


   
</body>
</html>
