
<a href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none;">
    @*<img src="~/images/giohang.gif" /> Giỏ hàng (@ViewBag.Tongsoluong)*@
    <i class="fab fa-opencart">Giỏ hàng</i>
    <i class="fab fa-opencart"></i>
</a>