
<head>
    @{
        Layout = null;
    }
    <link href="~/Content/css/adminlogin.css" rel="stylesheet" />
</head>
<body>
    <form class="modal-content animate" method="post">
        <div class="imgcontainer">

            <img src="~/images/admin1.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for=""><b></b>Tài Khoản:</label>
            <input type="text" placeholder="Enter Name" name="username" required>
            <br />
            <label for="psw"><b>Mật Khẩu:</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br />

            <button type="submit" value="Login" tabindex="4" style="width:auto;">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
